[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
pbr = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-deadfixtures = "*"
pytest-html = "*"
pytest-mock = "*"
pytest-randomly = "*"
pytest-sugar = "*"
freezegun = "*"
yapf = "*"
{%- if cookiecutter.upload_badge_to_minio_host == 'y' %}
s3cmd = "*"
coverage-badge = "*"
{%- endif %}

[packages]
click = "*"
dynaconf = {extras = ["vault"], version = "*"}
loguru = "*"

[requires]
python_version = "{{cookiecutter.python_version}}"

[scripts]
test = "py.test --ff --cov {{cookiecutter.project_slug}}"
check-fixtures = "py.test {{cookiecutter.project_slug}} --dead-fixtures --dup-fixtures"
check-yapf = "yapf -d -r -p {{cookiecutter.project_slug}}"
fix-yapf = "yapf -i -r -p {{cookiecutter.project_slug}}"
check-isort = "isort -c {{cookiecutter.project_slug}}"
fix-isort = "isort {{cookiecutter.project_slug}}"
check-code-style = "flake8 {{cookiecutter.project_slug}}"
{%- if cookiecutter.upload_badge_to_minio_host == 'y' %}
make-badge = "coverage-badge -o ./coverage.svg"
{%- endif %}
